# <font color="red">I) Importation des modules</font>

In [1]:
import pprint, itertools
import numpy as np
import pandas as pd
import scipy as sp
from sklearn import neighbors, metrics, model_selection
from matplotlib import pyplot as plt

# <font color='red'>II) Extraction</font>

In [2]:
survived_test = pd.read_csv('gender_submission.csv').set_index('PassengerId')
train = pd.read_csv('train.csv').set_index('PassengerId')
test = pd.read_csv('test.csv').set_index('PassengerId')

# <font color='red'>III) En bref</font>

In [3]:
train.describe()

         Survived      Pclass         Age       SibSp       Parch        Fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [4]:
survived_test.head()

             Survived
PassengerId
892                 0
893                 1
894                 0
895                 0
896                 1

In [5]:
train.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
test.head()

## <font color="blue">RAS</font>

# <font color='red'>iV) Dimensions</font>

In [ ]:
survived_test.shape, train.shape, test.shape

In [ ]:
float(418)/(891+418)*100

#### <font color=blue>Le testing set représente 32% des données globales</font>

# <font color="red">V) Entree et Sortie</font>

#### <font color=blue>Le train contient la colonne survived,</font>
#### <font color="blue">le test ne contient pas la colonne survived.</font> 
#### <font color=blue>La colonne survived correspondat au test se retrouve dans le data.</font>

In [ ]:
train.head()

In [ ]:
survived_train = train['Survived']

In [ ]:
train = train.drop('Survived', axis=1)
train.head()

In [ ]:
survived_train = survived_train.to_frame()
survived_train.head()

#### <font color="blue">On récupère la sortie (survived) et on la supprime de l'entrée</font>

In [ ]:
survived_test.to_csv('/home/abdel/Documents/Kaggle/kaggle-titanic/survived_test.csv', sep="|")
survived_train.to_csv('/home/abdel/Documents/Kaggle/kaggle-titanic/survived_train.csv', sep="|")

test.to_csv('/home/abdel/Documents/Kaggle/kaggle-titanic/data_test.csv', sep="|")
train.to_csv('/home/abdel/Documents/Kaggle/kaggle-titanic/data_train.csv', sep="|")

In [ ]:
train.describe()